.s1 {
    background-color:#000000;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    border: 6px solid #ffffff;
    max-width: 150px;
    margin: 20px auto;
    color: white;
    text-align: center;
    width: 200px;
    height: 175px;
}
.s1 ul {
    text-align: left;
}

.s1 h2 {
    font-weight: bold;
}

.s1 ol {
    text-align: left;
}
